In [27]:
import pandas as pd
import os 
import json
import math

In [28]:
def TimeToSolution(tau, feasibleRate, targetProbability):
    time = tau.copy()  # 入力のコピーを作成
    
    # シリーズ内の各要素に対して処理
    for i in range(len(tau)):
        if feasibleRate.iloc[i] == 1:  # インデックスiの要素にアクセス
            time.iloc[i] = tau.iloc[i]
        else:
            time.iloc[i] = tau.iloc[i] * math.ceil(math.log(1 - targetProbability) / math.log(1 - feasibleRate.iloc[i]))
    
    return time

In [29]:
def Edit_TTS(filePath):
    #input
    df = pd.read_json(filePath) #ここ変更すればjson変えられる
    print("dataframe before edit")
    display(df)
    
    #edit part
    df['TTS(0999)'] = TimeToSolution(df['time'], df['feasibleRate'], 0.999)
    df['TTS(09999)'] = TimeToSolution(df['time'], df['feasibleRate'], 0.9999)
    display(df)
    
    #output
    df.to_json(filePath)

In [37]:
#パスをコピーすると楽
filePath = 'twitter10000/SQAtwitter10000.json'
Edit_TTS(filePath)

dataframe before edit

     min   mean  max  feasibleRate       time         TTS
50     0  1.474    6         0.225   8.028649  152.544337
150    0  0.931    6         0.391  11.203691  112.036912
250    0  0.796    4         0.449  14.269205  114.153639
350    0  0.755    4         0.473  17.435582  139.484655
450    0  0.702    4         0.491  20.652184  144.565285
550    0  0.670    5         0.499  23.684561  165.791930
650    0  0.588    5         0.532  26.949903  188.649319
750    0  0.574    4         0.558  30.084601  180.507606
850    0  0.545    4         0.591  33.286561  199.719368
950    0  0.597    4         0.551  36.361501  218.169007

,min,mean,max,feasibleRate,time,TTS,TTS(0999),TTS(09999)
50,0,1.474,6,0.225,8.028649,152.544337,224.802181,297.060025
150,0,0.931,6,0.391,11.203691,112.036912,156.851677,212.870134
250,0,0.796,4,0.449,14.269205,114.153639,171.230458,228.307278
350,0,0.755,4,0.473,17.435582,139.484655,191.791401,261.533729
450,0,0.702,4,0.491,20.652184,144.565285,227.174019,289.130569
550,0,0.670,5,0.499,23.684561,165.791930,236.845615,331.583861
650,0,0.588,5,0.532,26.949903,188.649319,269.499028,350.348736
750,0,0.574,4,0.558,30.084601,180.507606,270.761408,361.015211
850,0,0.545,4,0.591,33.286561,199.719368,266.292490,366.152174
950,0,0.597,4,0.551,36.361501,218.169007,327.253511,436.338015